[submodule "juce/juce-framework"]
	path = juce/juce-framework
	url = https://github.com/juce-framework/JUCE.git
[submodule "backend/swAudioLib"]
	path = backend/swAudioLib
	url = git@github.com:StephanWidor/AudioLib.git
